streamlit
pymysql
mysql-connector-python
pandas
numpy
scikit-learn
matplotlib
scipy
folium
geopy
streamlit-option-menu
openpyxl
plotly
googlemaps
fpdf
selenium
webdriver-manager
streamlit-folium
shapely
requests
docker
